*
 {
  margin: 0;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.box-formulir {
  width:35%;
  margin:100px auto;
  border:1px solid;
  background-color: rgba(255, 255, 255,);
}
.box{
  background-color: rgba(48, 233, 171, 0.979);
  border:1px solid #000000;
  padding:10px;
  box-sizing: border-box;
  margin:5px 0 25px;
}
.table-form{
  width:100%;
}
.input-control{
  padding:5px 10px;
  font-size: 16px;
  margin: 4px 0;
}
.btn-daftar {
  padding:12px 17px;
  background-color: blue;
  color: #fff;
  border: none;
  font-size:16px;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav {
  background-color: rgb(255, 255, 255);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  height: 50px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
  
}

nav ul li a:hover {
  background-color: #4dee8b;
}
